<!DOCTYPE html>
<html>
<head>
	<title style="text-align: center">Eat A Burger!</title>
	<link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css">
</head>
<body>
	{{{ body }}}
</body>
</html>